.badge {
  background-color: $primary-colour;
  color: $inverse-colour;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  font-size: var(--step--2);
  font-family: $heading-font;

  &.selected {
    transform: translateY(1px);
    box-shadow:
      inset 0 2px 1px 1px rgba(0, 0, 0, 0.2),
      inset 0 -1px 1px rgba(255, 255, 255, 0.5);
    filter: brightness(110%);
  }
}
