@use "../variables/colours";
@use "../variables/fonts";

.global {
  background-color: colours.$inverse-colour;
  color: colours.$neutral-colour;
  font-family: fonts.$main-font;
  font-size: var(--step-1);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  margin-bottom: var(--space-m);
}

nav {
  justify-content: space-between;
  font-family: fonts.$heading-font;
  font-size: var(--step-0);
}

header,
footer {
  justify-content: space-between;
  margin-bottom: var(--space-l);
}

header {
  align-items: end;
  margin-top: var(--space-l);
}

footer {
  --flow-space: auto;
}

p,
.prose {
  max-width: 65ch;
  letter-spacing: 0.004em;
  overflow-wrap: break-word;
  hyphens: auto;
}
