$primary-colour: #dc8a78;
$secondary-colour: #8839ef;
$vibrant-colour: #dd7878;
$muted-colour: #6c6f85;
$muted-light-colour: #c7c9d9;
$neutral-colour: #4c4f69;
$inverse-colour: #eff1f5;
$transparent-colour: rgba(0, 0, 0, 0);
$semi-transparent-colour: rgba(0, 0, 0, 0.3);

$error-colour: #d20f39;
$warning-colour: #fe640b;
$success-colour: #40a02b;
$info-colour: #1e66f5;

$colours: (
  primary: $primary-colour,
  secondary: $secondary-colour,
  vibrant: $vibrant-colour,
  muted: $muted-colour,
  "muted-light": $muted-light-colour,
  neutral: $neutral-colour,
  inverse: $inverse-colour,
  "transparent": $transparent-colour,
  "semi-transparent": $semi-transparent-colour,
  error: $error-colour,
  warning: $warning-colour,
  success: $success-colour,
  info: $info-colour,
);
