@use "../variables/colours";

@each $key, $value in colours.$colours {
    .#{$key} {
        color: $value !important;
    }

    .bg-#{$key} {
        background-color: $value !important;
    }

    .border-#{$key} {
        border-color: $value !important;
    }
}

.inverted {
    background-color: colours.$neutral-colour !important;
    color: colours.$inverse-colour !important;

    table tr:nth-child(even) td {
        background-color: rgba(0, 0, 0, 0.15) !important;
    }
}

.reverted {
    background-color: colours.$inverse-colour !important;
    color: colours.$neutral-colour !important;

    table tr:nth-child(even) td {
        background-color: rgba(255, 255, 255, 0.15) !important;
    }
}
