$sizes: "xx-small", "x-small", "small", "medium", "large", "x-large", "xx-large",
    "huge", "gigantic", "colossal", "colossus";

@for $key from 1 through length($sizes) {
    $size: nth($sizes, $key);
    $step: $key - 4;

    .#{$size} {
        font-size: var(--step-#{$step});
    }
}
